#galleryheader {
  position: fixed;
  top: 2vh;
  width: 100%;
  z-index: 100;
}

main {
margin-top: 18vh;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; // Distribute images evenly between rows
}

.image-thumbnail {
  max-width: calc(50% - 10px); // 2 images per row with some spacing
  margin-bottom: 10px; // Add spacing between rows
}

@media (max-width: 768px) {
  .image-thumbnail {
    max-width: 100%; // 1 image per row on smaller screens
  }
}
