@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');

@mixin sono {
  font-family: 'Sono', sans-serif;
  font-weight: 600 !important;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Sono', sans-serif;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  background-color: #dbdbdb;
  align-content: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

#outerwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  display: flex;
  max-width: 100%;
}

header {
  margin: 30px;
  text-align: center;
  
  #portrait {
    border-radius: 50%;
    height: 94px;
    width: 94px;
  }

  h3, p {
    margin: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

footer {
  justify-self: flex-end;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: space-around;
  width: 80vw;
  height: 45px;

  .icon {
    color: #1d1d1d;
    font-size: 30px;
    padding: 0 8px;

    .fa-brands {
      position: relative;
    }
  }
}

.banner {
  margin-top: 10px;
  background-color: rgba(169, 169, 169, 0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  justify-content: space-between;

  p {
    margin: 5px;
    text-align: center;
    font-size: 12px;
  }

  .bannerimg {
    img {
      border-radius: 10px;
      width: 48px;
      height: 48px;
      object-fit: cover;
    }
  }
}

#media-dropdown {
  display: none;
}

#bc-banner {
  position: relative;
}

#dropdown-icon {
  cursor: pointer;
}

/* Style the dropdown content */
.dropdown-content {
  position: absolute;
  background-color: inherit;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
}
