@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');

// Mixin for Sono font
@mixin sono {
  font-family: 'Sono', sans-serif;
  font-weight: 600 !important;
}

// Base HTML styles
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

// Body styles
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  &::-webkit-scrollbar {
    display: none;
  }
}

// Outer wrapper styles
#outerwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Loading screen styles
#loadingScreen {
  color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

// Fullscreen video styles
.fullscreen-video {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -10;
}

// Logo styles
#logo {
  display: flex;
  max-width: 100%;
}

// Modal styles
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

// Header styles
header {
  margin: 30px;
}

// Main content styles
main {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

// Button styles
.button {
  color: rgb(25, 25, 25);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 10px;
  height: 20vmin;
  min-width: 350px;
  max-width: 600px;
  max-height: 100px;
  @include sono;
  background-color: azure;
  opacity: 0.6;
  
  i {
    transform: scale(3);
  }
  
  a {
    text-decoration: none;
    color: rgb(25, 25, 25);
  }
}

// Footer styles
footer {
  justify-self: flex-end;
}

#icons {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-content: center;
  justify-content: space-around;
  width: 80vw;
  height: 45px;

  .icon {
    color: #1d1d1d;
    font-size: 30px;
    padding: 0 8px;
    display: flex;
    text-decoration: none;

    .fa-brands {
      position: relative;
    }
  }

  @media (max-width: 768px) {
    width: 100%; // Full width for smaller screens
  }
}

.banner {
  margin: 8px;
  background-color: rgba(169, 169, 169, 0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  justify-content: space-between;

  p {
    margin: 5px;
    text-align: center;
    font-size: 12px;
  }

  .bannerimg {
    display: flex;
    img {
      border-radius: 10px;
      width: 48px;
      height: 48px;
      object-fit: cover;
    }
  }

  &-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

#bcmedia-dropdown {
  display: none;
  flex-direction: column;
}

#ytmedia-dropdown {
  display: none;
  flex-direction: column;
}

  .dropdown-content {
    margin-top: 0.8vh;
    z-index: 1;
    iframe {
      margin-top: 8px;
      width: auto;
    }
  }
