body {
    background-color: rgb(29, 29, 29);
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    overflow: scroll;
}

.outerwrapper {
  background-color: rgb(29, 29, 29);
}
 
.fullscreen-video {
        position: fixed;
        overflow: hidden;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translateX(-50%) translateY(-50%);
        z-index: -10;
    }

  #buffer {
    padding-top: 60px;
  }

#logo {
  display: flex;
  max-width: 100%;
}


#nate {
    overflow: scroll;
}