a {
    color: #f8aee2;
}

body {
    background-color: rgb(29, 29, 29);
    text-align: center;
    overflow-y: scroll;
    overflow-x: auto;
    height: 100%;
    width: 100%;
}

main {
    overflow: scroll;
    height: 100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

rotator {
    text-shadow: 0 0 3px #F00;
}

span {
    color: white;
}
.blink {
    text-decoration: blink;
    color: #1c87c9;
    }