@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');

@mixin sono {
  font-family: 'Sono', sans-serif;
  font-weight: 600 !important;
}

html {
  font-size: 100%;
  box-sizing: border-box;

  @media (max-width: 768px) {
    font-size: 90%; // Adjust the font size for smaller screens
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#outerwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    padding: 10px; // Add spacing for smaller screens
  }
}

#loadingScreen {
  color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.fullscreen-video {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -10;
}

body {
  font-family: 'Sono', sans-serif;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  background-color: #dbdbdb;
  align-content: center;
  justify-content: center;
  height: 100vh;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 768px) {
    text-align: center; // Center-align content for smaller screens
  }
}

.el {
  background-color: rgba(169, 169, 169, 0.4);
  border-radius: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 8px;

  @media (max-width: 768px) {
    width: 90%; // Adjust the width for smaller screens
  }
}

#logo {
  display: flex;
  max-width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  #portrait {
    border-radius: 50%;
    align-self: center;
    height: 94px;
    width: 94px;
  }

  h3, p {
    margin: 0;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin: 10px;

  @media (max-width: 768px) {
    margin: 10px 0; // Remove horizontal margin for smaller screens
  }
}

footer {
  justify-self: flex-end;

  @media (max-width: 768px) {
    text-align: center; // Center-align for smaller screens
  }
}

#icons {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-content: center;
  justify-content: space-around;
  width: 80vw;
  height: 45px;

  .icon {
    color: #1d1d1d;
    font-size: 30px;
    padding: 0 8px;
    display: flex;
    text-decoration: none;

    .fa-brands {
      position: relative;
    }
  }

  @media (max-width: 768px) {
    width: 100%; // Full width for smaller screens
  }
}

.banner {
  margin: 8px;
  background-color: rgba(169, 169, 169, 0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  justify-content: space-between;

  p {
    margin: 5px;
    text-align: center;
    font-size: 12px;
  }

  .bannerimg {
    display: flex;
    img {
      border-radius: 10px;
      width: 48px;
      height: 48px;
      object-fit: cover;
    }
  }

  &-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

#bcmedia-dropdown {
  display: none;
  flex-direction: column;
}

#ytmedia-dropdown {
  display: none;
  flex-direction: column;
}

  .dropdown-content {
    margin-top: 0.8vh;
    z-index: 1;
    iframe {
      margin-top: 8px;
      width: auto;
    }
  }

