//global.less

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
}

.body {
    background-color: $m4pgreen;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.flex {
    display: flex

    &-row {
        flex-direction: row;
    }

    &-col {
        flex-direction: column;
    }
}

